{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div>
    <h1>Hello World! ✅</h1>

    This is my simple blog.

    <div>
        <a href="{{ path('post_index') }}">See posts</a>
    </div>
</div>
{% endblock %}
