<form method="post" action="{{ path('post_delete', {'id': post.id}) }}" class="d-inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-outline-danger">Delete</button>
</form>
